.lateral_direita{
    width: 100%;
    padding: 25px 0;
    @include desktop{
        width: 22.85%;
    }
    .fotos{
        border: 1px solid #dbdbdb;
        padding: 20px 30px;
        margin-bottom: 50px;
        p{
            color: #b1b1b1;
            text-align: center;
            line-height: 1;
        }
        ul{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 12.74%;
            li{
                display: flex;
                line-height: 0;
                margin-top: 20px;
                align-items: center;
                background-color: #b1b1b1;
                a{
                    display: block;
                    height: fit-content;
                    line-height: 0;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer{
        background-color: $color_destaque;
        padding: 40px 0;
        .content{
            padding: 0 10px;
        }
        p{
            color: #fff;
            text-align: center;
            font-family: 'Montserrat Bold';
            font-size: 15px;
        }
    }
}